@use  'sass:math';

$height_values: (
  "10": 10,
  "15": 15,
  "20": 20,
  "25": 25,
  "30": 30,
  "35": 35,
  "40": 40,
  "45": 45,
  "50": 50,
  "55": 55,
  "60": 60,
  "65": 65,
  "70": 70,
  "75": 75,
  "80": 80,
  "85": 85,
  "90": 90,
  "95": 95,
  "100": 100,
);

@each $name, $n in $height_values {
  .vh-#{$name} {
    height: #{$n}vh !important;
  }

  .min-vh-#{$name} {
    min-height: #{$n}vh !important;
  }

  .max-vh-#{$name} {
    max-height: #{$n}vh !important;
  }

  .h-#{$name}-px {
    height: #{$n}px !important;
  }

  .h-#{$name}-rem {
    height: #{$n}rem !important;
  }

  .h-#{$name}-percent {
    height: math.percentage($n / 100) !important;
  }
}
